{% extends 'base.html' %}
{% block title %} Inicio - Plataforma de estudiantes {% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title mb-4">Datos del estudiante</h1>
            <p class="card-text"><strong>Nombre:</strong> {{ estudiante.nombre }} {{ estudiante.apellido }}</p>
            <p class="card-text"><strong>Email:</strong> {{ estudiante.email }}</p>
        </div>
    </div>
</div>

{% endblock %}