{% extends 'base.html' %}
{% block title %} Inicio - Plataforma de estudiantes {% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Lista de Estudiantes</h1>
    <ul class="list-group">
        {% for estudiante in estudiantes %}
        <a href="{% url 'detalle_estudiante' estudiante.id %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Nombre y apellido: <span>{{ estudiante.nombre }} {{ estudiante.apellido }}</span></h5>
                <small>Email: {{estudiante.email}}</small>
            </div>
        </a>
        {% endfor %}
    </ul>
</div>

{% endblock %}